@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model StudentResultMS.Models.Result

<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

<h2 class="mb-3">Add Result</h2>

<form asp-action="Create" method="post">

    <div class="mb-3">
        <label class="form-label">Student Name</label>
        <select asp-for="StudentId" class="form-control select2">
            @foreach (var student in ViewBag.Students)
            {
                <option value="@student.Id">@student.Name</option>
            }
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">Course Name</label>
        <select asp-for="CourseId" class="form-control select2">
            @foreach (var course in ViewBag.Courses)
            {
                <option value="@course.Id">@course.CourseName</option>
            }
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">Score</label>
        <input asp-for="Score" class="form-control" type="number" min="0" max="100" />
    </div>

    <button type="submit" class="btn btn-success">
        Save
    </button>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
        $('.select2').select2({
        width: '100%'
        });
        });
    </script>
</form>
